@import '../../common/common-css-rules.scss';

.calculator-section {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;

  .title {
    font-size: 3.5rem;

    @include sm {
      font-size: 2rem;
    }

    @include lg {
      margin-left: 2rem;
      // margin-top: -15rem;
    }
  }

  .calculator-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.125rem;
    width: 30%;
    background-color: $color-white;
    padding: 0.125rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    button {
      border: none;
      padding: 1.25rem 0;
      font-size: 1.75rem;

      &:hover {
        cursor: pointer;
      }
    }

    .operator {
      background-color: $operator-clr;
      text-align: center;
      padding-right: 0.18rem;

      &:focus {
        background-color: $orange-clr;
      }
    }

    .btn {
      background-color: #e0e0dad5;
      text-align: center;

      &:focus {
        background-color: #ced1d6;
      }
    }

    .btn-zero {
      grid-column-start: 1;
      grid-column-end: 3;
      background-color: #e2e2dc;
      text-align: center;
    }

    .output-screen {
      grid-column-start: 1;
      grid-column-end: 5;
      text-align: right;
      background-color: #7b7c7e;
      color: #fff;
      padding: 1rem 0;

      .output {
        font-size: 2rem;
      }
    }

    @include sm {
      width: 90%;
    }

    @include md {
      width: 90%;
    }
  }

  @include sm {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem 0 0;
  }

  @include md {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem 0 0;
  }

  @include lg {
    flex-direction: row;
    align-items: flex-start;
    margin: 8rem 10rem 2rem 10rem;
  }
}
