$color-white: #fff;
$color-indigo: #7d3c98;
$color-black: #566573;
$background-clr: #f4f8fa;
$light-orange-clr: #e59866;
$color-primary: #3498db;
$orange-clr: #ff7800;
$light-orange: #dc7633;
$operator-clr: #ee8434;
$black: #130f40;
$color-black:#222;
$light-clr: #666;
$dark-orange: #a04000;
$dark-red: #c0392b;
$box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
$border: 0.2rem solid rgba(0, 0, 0, 0.1);
$outline: 0.1rem solid rgba(0, 0, 0, 0.1);
$outline-hover: 0.2rem solid var(--black);

.calculator-section {
  margin: 8rem 10rem 2rem 10rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;

  .title {
    margin-left: 2rem;
    font-size: 3.5rem;
  }

  .calculator-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.125rem;
    width: 40%;
    background-color: $color-white;
    padding: 0.125rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-right: 2rem;

    button {
      border: none;
      padding: 1.25rem 0;
      font-size: 1.75rem;

      &:hover {
        cursor: pointer;
      }
    }

    .operator {
      background-color: $operator-clr;
      text-align: center;
      padding-right: 0.18rem;

      &:focus {
        background-color: $orange-clr;
      }
    }

    .btn {
      background-color: #e0e0dad5;
      text-align: center;

      &:focus {
        background-color: #ced1d6;
      }
    }

    .btn-zero {
      grid-column-start: 1;
      grid-column-end: 3;
      background-color: #e2e2dc;
      text-align: center;
    }

    .output-screen {
      grid-column-start: 1;
      grid-column-end: 5;
      text-align: right;
      background-color: #7b7c7e;
      color: #fff;
      padding: 1rem 0;

      .output {
        font-size: 2rem;
      }
    }
  }
}
